
.container {
    overflow: auto;
    border-radius: 1rem;
    padding: 2rem;
    background-color: #b1bdcb;
    width: 80vw;
}

.tr{
    display: flex;
    background-color: #b1bdcb;
    border-radius: 1rem;
}

.sidebar {
    padding-left: 2vw;
    width: 14vw;
    height: 100vh;
    border-right: 1px solid #98aec5; /* Adjust this to your desired border color */
}

.nav-item {
    width: 100%
}

.nav-link {
    padding: 15px;
    transition: background-color 0.3s
}

.nav-link:hover {
    background-color: #e9ecef
}

.nav-link.active {
    background-color: #98aec5;
    font-weight: bold;
}
